body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 100vh; /* Ensure full viewport height */
}

.social-icons {
    position: absolute;
    left: 40px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

.social-icon {
    margin-bottom: 30px;
    color: black;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.social-icon i {
    font-size: 3em;
}

.social-icon:hover {
    background-color: #555;
    color: #fff;
}

header {
    background-color: rgba(195, 172, 189, 0.78);;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 20px;
    border-radius: 50px;
}

.logo img {
    height: 100px; /* Adjust height as needed */
    margin-right: 10px;
    border-radius: 50px;
}

.logo p {
    font-size: 24px; /* Adjust font size as needed */
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Segoe UI';
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 20px;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#contact {
    margin-top: 30px;
}

h1 {
    font-size: 3em;
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}

form {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    resize: vertical; /* Allow vertical resizing of textarea */
}

button {
    padding: 10px 20px;
    background-color: lightblue; 
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}